<div class="col l3 m6 s12">
  <div class="card black">
    <div class="card-image">
      <img src="{{ recipe.imageUrlsBySize['90'] }}">
    </div>
    <span class="card-title truncate"><small><strong>{{ recipe.recipeName }}</strong></small></span>
    <div class="card-content black">
      <p><span class="grey-text">Rating: </span>{{ recipe.rating }}</p>
      <p><span class="grey-text">Prep Time: </span>{{ recipe.totalTimeInSeconds / 60 }} minutes</p>
    </div>
    <div class="card-action">
      <a ng-click="getDetail(recipe.id)" class="modal-trigger" href="#detail{{recipe.id}}">Recipe Detail</a>
      <a class="btn-floating btn-small waves-effect waves-light green lighten-1 right" >
        <i class="material-icons">add</i>
      </a>
    </div>
    <!-- modal -->
    <div id="detail{{recipe.id}}" class="modal modal-footer grey darken-4 white-text">
      <div class="container modal-content">
        <h4>{{ detail.name }}</h4>
        <hr>
        <h5 class="grey-text">Total Time: </h5>
        <div>{{ detail.totalTime }}</div>
        <hr>
        <h5 class="grey-text">Ingredients:</h5>
        <div ng-repeat="ingredient in detail.ingredientLines track by $index">{{ ingredient }}</div>
        <hr>
        <div>
          <a ng-href="{{ trustUrl(detail.source.sourceRecipeUrl) }}" target="blank">
            <span class="grey-text">See full recipe </span> HERE
          </a>
        </div>
        <hr>
        <hr>
        <br>
        <div ng-bind-html="detail.attribution.html"></div>
      </div>
    </div>
  </div>
</div>

