<div class="container">
  <form data-ng-submit="signup()">
    <div data-ng-show="error" class="red-text center-align">
      <br>
      <div>
        {{ error }}
      </div>
      <br>
    </div>
    <div class="input-field">
      <input type="text" id="firstname" data-ng-model="firstName">
      <label for="firstname">First Name</label>
    </div>
    <div class="input-field">
      <input type="text" id="lastname" data-ng-model="lastName">
      <label for="lastname">Last Name</label>
    </div>
    <div class="input-field">
      <input type="email" id="email" data-ng-model="email">
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <input type="password" id="password" data-ng-model="password">
      <label for="password">Password</label>
    </div>
    <div class="center-align">
      <input class="input-field waves-effect btn" type="submit" value="Signup">
    </div>
  </form>
</div>